html {
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 4.5rem;
	font-family: 'Permanent Marker', cursive;
}


@media only screen and (max-width: 600px) {

   h1 { font-size: 2rem; }

}